.title {
  h1 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}
.base-table {
  border-collapse: collapse;
  width: 100%;

  th {
    background-color: #4CAF50;
    color: white;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }
  td:last-child {
    text-align: right;
    padding: 8px;
  }
  tr:hover {
    cursor: pointer;
  }
  tr:nth-child(even){
    background-color: #f2f2f2
  }

  tr:hover {
    background-color: #e3e3e3;
  }
}

